@import url(./global.css);

.contact-page {
  /* background-color: #100442; */
  background: linear-gradient(to left, #f2709c, #ff9472);
  height: 100vh;
  font-family: "Montserrat";
  color: pink;
}

.mapbox{
  filter: drop-shadow(0px 3px 7px #f3c9a7);
  -webkit-filter: drop-shadow(0px 3px 7px #f1b1de);
}

.presentation-fin {
  position: absolute;
  top: 20%;
  left: 38%;
  transform: translate(-50%, -50%);

  width: 30%;

  
}

.presentation-fin > p {
  font-size: 30px;
  line-height: 45px;
  text-align: start;
}

.mail-header {
  position: absolute;
  top: 17%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.form {
  position: absolute;
  width: 30%;

  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.contact-form {
  background: #17065ca2;
  border-radius: 10px;
  padding: 30px;
  width: 100%;

  text-align: center;
}

.form-box {
  max-width: 768px;
  width: 100%;
}

.form-box > label {
  display: none;
}

.form-box > input,
textarea {
  background: none;
  text-decoration: none;
  outline: none;

  border: 1px solid #fff;
  margin-top: 10px;
  padding: 5px;

  font-size: 17px;
  font-weight: bold;
  font-family: "Oswald";
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-sizing: border-box;
}

.form-box > textarea {
  resize: none;
  overflow: auto;
  height: 200px;
  width: 100%;
}

::placeholder {
  color: #ffdafe;
  margin-right: 2px;
}

.nameInput {
  float: left;
  width: 47%;
}

.emailInput {
  float: right;
  width: 47%;
}

.subjectInput {
  width: 100%;
}

.form-button {
  width: 100%;
  background: none;

  padding: 10px;
  border: none;
  border-bottom: 1px solid whitesmoke;

  font-family: "Oswald";
  font-size: 1.2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: bolder;
  color: antiquewhite;
}

.form-button:hover {
  border: 2px solid whitesmoke;
  transition: 2s ease-in-out;
}

.resume {
  position: absolute;
  bottom: 2%;
  left: 80%;
  transform: translate(-50%, -50%);

  height: 10%;
  width: 30%;
  text-align: center;
}

.mon-cv {
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

  color: #ffdafe;
  font-family: "Oswald";
  font-weight: bolder;

  background: linear-gradient(
    to right,
    #d599e4 0%,
    #b15ce2 50%,
    #573675b4 100%
  );

  padding: 0.5rem;
  width: 20rem;
  letter-spacing: 0.22em;
  outline: none;

  user-select: none;
}

.mon-cv:hover {
  top: -2px;
  box-shadow: inset 0px 2px 12px -4px rgba(61, 6, 95, 0.5);
  border-bottom: 3px solid rgba(74, 7, 83, 0.534);
}

.links {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}

.linkedin:hover,
.github-png:hover {
  filter: drop-shadow(0px 1px 10px #ffdafe);
  -webkit-filter: drop-shadow(0px 1px 10px #ffdafe); /* Safari 6.0-9.0*/
}

.footer {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-weight: bold;
}

.footer > s {
  font-size: smaller;
}

@media screen and (max-width: 768px) {
  .presentation-fin{
    display: none;
  }

  .mapbox{
    display: none;
  }

  .mail-header {
    top: 6%;
    left: 50%;
    font-size: large;
  }

  .form {
    width: 88%;
    top: 42%;
    left: 50%;
  }

  .form-box > input,
  textarea {
    font-family: 10px;
    font-weight: normal;
  }
  .resume {
    text-align: center;
    bottom: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .mon-cv {
    padding: 5px;
    font-size: 15px;
  }
  .links {
    bottom: 1%;
    left: 50%;
  }
  .footer {
    font-size: x-small;
  }
}
